.DS_Store
/Data/equity/usa/map_files
/Data/equity/usa
/Data/forex/fxcm
/Data/forex/oanda
/Data/future/cme/margins
/Data/future/cme/universes/es
/Data/future/comex/daily
/Data/future/comex
/Data/future/eurex
/Data/future/hkfe
/Data/future/ice
/Data/future/nymex
/Data/future/nyseliffe
/Data/future/sgx
/Data/futureoption/cme
/Data/futureoption/comex
/Data/future/cme
/Data/indexoption/usa
/Data/option/usa
/MyOfflineStrategy/backtests
/MyOfflineStrategy/.vscode
/MyOfflineStrategy/.idea
/Data/index/usa
/Data/index/india
/Data/index/ose
/Data/index/eurex
/MyOfflineStrategy/__pycache__
*.sh
report.html
/Data
/DonchinWithFunding/backtests
/DonchinWithFunding/__pycache__
/DonchianWithFunding/backtests
