.DS_Store
/MyOfflineStrategy/backtests
/MyOfflineStrategy/.vscode
/MyOfflineStrategy/.idea
/MyOfflineStrategy/__pycache__
/Data
report.html
/DonchianWithFunding/backtests
/DonchianWithFunding/__pycache__
/optim/__pycache__
/DonchianWithFunding/__pycache__
